* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.subImg {
    width: 15px;
    
}
.subImg
{
    
  &__fac {
    width: 20px;
        margin-left: 3px;
    margin-bottom: -2px;
  }
  &__noti {
    width: 20px;
        margin-left: 3px;
        margin-bottom: 2px;
  }
  &__cart {
    width: 35px;
  }
  &__search {
    margin: 3px 0px;
    width: 15px;
  }
}
.logo {
    width: 200px;
    height: 100px
}
.headerContainer {
    background-color: #EE4D2D;
    
    &__commonMenu {
        color: white;
        display: flex;
        justify-content: space-between;
        margin: 0px 30px;
        padding-top: 6px;
        &--left {
            display: flex;
            justify-content:space-around ;
            align-items: center;
            &>div {
                margin-right: 10px;
            }
            .follow {
                display: flex;
                align-items: center;
             }
        }
        &--right {
            display: flex;
            justify-content: space-around;
            align-items: center;

            &>div {
            
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    margin-right: 10px;
                    &>img {
                        margin-right: 5px;
                    }
                }
            .english {

                p {
                    margin-right: 5px;
                }
            }
        }
               
    }
    &__searchBar {
        display: flex;
      justify-content: space-around;
       align-items: center;

       &--search{
        width: 60%;
        .searchBox {
                display: flex;
                align-items: center;
                background-color: white;
                height: 34px;
                border-radius: 3px;
                margin-bottom: 10px;
                &__input {
                    width: 100%;

                    input[type="text"] {
                        margin-left: 10px;
                        width: 100%;
                        height :34px;
                        border: none;
                        border-radius: 2px;

                    }
                   

                }
                &__icon {
                            background-color: #f63;
                            width: 10%;
                            margin-right: 4px;
                            text-align: center;
                            height: 23px;
                            border-radius: 2px;
                            
                }
        }
        .suggestion {
            ul {
                display: flex;
               
                li {
                    font-size: 13px;
                    margin-right: 20px;
                    color:white;
                    }
            }
        }
       }
       
    }
   
}

/*banner */
.bannerContainer
{
    display: flex;
    height: 250px;
    justify-content: stretch;
    width: 1200px;
    margin-top: 30px;
    &__left {
        width: 70%;
        padding-right: 5px;
        height: 100%;
        img {
            width: 100%;
            margin-right: 5px;
            height: 100%;
        }
    }
    &__right {
        width: 30%;
        &--top {
            height: 50%;
            padding-bottom: 5px;
        
            img {
                width: 100%; 
                height : 100%;
            }
          
        } 
        &--bottom {
            height: 50%;
            img {
                width: 100%;
                
                height: 100%;
            }
         
        }

    }
}
.categoriesContainer {

    margin-top: 20px;
    width: 1200px;
    &__title {
        margin-bottom: 5px;
        color: grey;
        text-transform: uppercase;
    }
    &__content {
        flex-wrap: wrap;
        display: flex;
        &--items:hover {
                border: 1px solid black;
            }
        
            &--items {
                width: 120px;
                height: 150px;
                border: 0.1px solid grey;
        
                img {
                    width: 100%;
                }
        
                p {
                    text-align: center;
                }
            }
    }
    
}

/*footer */
.google-ICon {
 padding-left: 5px;
 padding-right: 5px;
}
.img__footer
{
    width: 100px;
    height: 50px;
    margin-right: 10px;
}
.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;

    
    &__top {
        display: flex;
        justify-content: space-around;
        width: 1200px;
        margin-top: 20px;
        padding-bottom: 50px;
        &--content {
            width: 100%;
        }

        .content__title {
            font-weight: bolder;
                padding-bottom: 15px;
        }
        .content__text
        {
            margin-bottom: 15px;
            list-style-type: none;
            li {
                margin-bottom: 10px;
                display: flex;
                p {
                    padding-left: 10px;
                }
            }
        }
        .content__paystra {
            display: flex;
            flex-wrap: wrap;
        
            div {
                    border-radius: 2px;
                    box-shadow: 1px 2px #e1dcdc;
                    margin: 0px 10px 15px 0px;
                }
        }
        .content__dowload {
            display: flex;
            width: 50%;
                
            &--qr {
                box-shadow: 0.5px 1px #e1dcdc;
                margin-right: 10px;
            }
            &--app {
                margin-left: 10px;
                
                        div {
                            margin-bottom: 10px;
                            height: 20px;
                            box-shadow: 0.5px 1px #e1dcdc;
                        }
                    }
        }
    }

    &__center {
    display: flex;
    justify-content:space-between;
    border-top: 1px solid rgba(0, 0, 0, .54);
    padding: 50px 0px 50px 0px;
    &--left {
        color:rgba(0, 0, 0, .54);
    }
    &--right {
        display: flex;
        color: rgba(0, 0, 0, .54);
        div {
            margin-left: 10px;
                padding-right: 10px;
        }
        .footerCenter_column {
           
            border-right: 1px solid rgba(0, 0, 0, .54);
           
        }
    }
    }
}
.footer__bottom {
    background-color: #f5f5f5;
    width: 100%;
    &--title {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 50px 20px 30px 10px;
        div {
            font-size: smaller;
            margin-left: 20px;
            color: rgba(0, 0, 0, .54);
        }
    } 
    &--logo {
        text-align: center;
    }
    &--describe {
        color: rgba(0, 0, 0, .54);
        text-align: center;
        p {
            font-size: smaller;
            margin-bottom: 10px;
        }
    } 
     #footerContent {
         color: rgba(0, 0, 0, .54);
        text-align: center;
        margin-bottom: 20px;
    }
        
}
   
  

       
